<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to my Site!</h1>
    <p>Feel free to look around while you're here and logout when you're done.</p>
  </div>
</div>

<div class="container">
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>Course Work</h2>
    <p><%=image_tag "course_work.jpg", size: "200x150"%></p>
    <p><a class="btn btn-default" href="<%=course_work_home_path%>" role="button">More &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Projects</h2>
    <p><%=image_tag "projects.jpg", size: "200x150"%></p>
    <p><a class="btn btn-default" href="<%=projects_home_path%>" role="button">More &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Interests</h2>
    <p><%=image_tag "interests.jpg", size: "200x150"%></p>
    <p><a class="btn btn-default" href="<%=interests_home_path%>" role="button">More &raquo;</a></p>
  </div>
</div>
</div>